* {
box-sizing: border-box;
    
    
    

}

body{
    font-family: sans-serif;
    background-color: lightgray;
    box-sizing: border-box;
    
  }
header{
    background-color:lightgray;
    
  
    
  }
  
  h1 {
    color: black;
   
  }
  

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
.social{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
} 

.head{
  display: grid;
  justify-items: center;
}
.nav{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  gap:4fr;
  
}